@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --purple: #633cff;
  --grey: #737373;
  --coral-red: #ff3939;
  --pale-violet: #beadff;
  --light-silver: #d9d9d9;
  --light-purple: #efebff;
  --light-grey: #fafafa;
  --dark-grey: #333333;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* border: 1px solid tomato; */
}

body {
  font-size: 1rem;
  background-color: var(--light-grey);
}
